<div class="banner-wrapper">
    <div class="banner">
        <div>
            <a href="">
                <img src="<%= require('../img/banner.jpg') %>" alt="" width="1040" height="355">
            </a>
        </div>
        <div>
            <a href="">
                    <img src="http://biuugame.bs2dl.huanjuyun.com/342d38f3b5e81355332afeb887d35afd.png" alt="" width="1400" height="355">
                </a>
        </div>
        <div>
            <a href="">
                    <img src="<%= require('../img/banner.jpg') %>" alt="" width="1400" height="355">
                </a>
        </div>
    </div>
    <div class="banner-nav">
        <a class="nav-btn prev" href="javascript:;"></a>
        <a class="nav-btn next" href="javascript:;"></a>
    </div>
</div>